[submodule "task-1-simple-journal"]
	path = task-1-simple-journal
	url = git@github.com:erfan-mirshams/simple-journal.git
[submodule "task-3-barname-haftegi"]
	path = task-3-barname-haftegi
	url = git@github.com:erfan-mirshams/barname-haftegi.git
[submodule "task-4-csm"]
	path = task-4-csm
	url = git@github.com:erfan-mirshams/csm.git
[submodule "task-5-turtix"]
	path = task-5-turtix
	url = git@github.com:erfan-mirshams/turtix.git
[submodule "task-extra-ABonus-810101568"]
	path = task-extra-ABonus-810101568
	url = git@github.com:erfan-mirshams/ABonus-810101568.git
[submodule "task-6-dms"]
	path = task-6-dms
	url = git@github.com:erfan-mirshams/dms.git
[submodule "futball-fantasy-1"]
	path = futball-fantasy-1
	url = https://github.com/erfan-mirshams/futball-fantasy
