[submodule "task-1-simple-journal"]
	path = task-1-simple-journal
	url = git@github.com:erfan-mirshams/simple-journal.git
[submodule "task-3-barname-haftegi"]
	path = task-3-barname-haftegi
	url = git@github.com:erfan-mirshams/barname-haftegi.git
