[submodule "task-1-simple-journal"]
	path = task-1-simple-journal
	url = git@github.com:erfan-mirshams/simple-journal.git
[submodule "task-3-barname-haftegi"]
	path = task-3-barname-haftegi
	url = git@github.com:erfan-mirshams/barname-haftegi.git
[submodule "task-4-csm"]
	path = task-4-csm
	url = git@github.com:erfan-mirshams/csm.git
[submodule "task-5-turtix"]
	path = task-5-turtix
	url = git@github.com:erfan-mirshams/turtix.git
